@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 12px;
  border-radius: 12px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.header {
  &__inner {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
}

.back-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__item {
    background-color: #171717;
    border-radius: 12px;
    padding: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &-btns {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}


.task-detail {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171717;
    margin-top: 20px;
    border-radius: 12px;
    padding: 12px;
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}


.add-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #171717;
  border-radius: 12px;
  padding: 12px;

  &__btn {
    position: absolute;
    left: 15px;
    top: 15px;
  }

  &__input {
    padding: 10px;
    border-radius: 12px;
    border: none;
  }
}

.status {
  margin-right: 15px;

  &-done {
    color: green;
  }

  &-active {
    color: red;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}